body {
    background-color: rgb(255, 255, 255); 
    color: rgb(30, 36, 50); 
    font-family: Arial;
    margin: 0px; 
}
header {
    background-color: rgb(100, 150, 200);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px
}

main {
    font-size: 24px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 10px 20px 45px;
}

footer {
    background-color: rgb(100, 150, 200);
    color: white;
    padding: 10px;
    text-align: center;
    /* width: 100%; */
    font-size: 24px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
a {
    color: #fefae0;
    text-decoration: none;
    background-color: #0077b6;
    transition: 0.5s 2s;
}
a:link {
    color: #457b9d;
    text-decoration: none;
    background-color: #4a5759;
}

a:visited {
    color: #b0c4b1;
    text-decoration: none;
    background-color: #778da9;
}

a:hover {
    color: #fefae0;
    text-decoration: underline;
    background-color: #606c38;
    box-shadow: 5px 5px 5px #023047;
    transition: 0.3s;
}
a:active {
    color: rgba(0, 0, 0);
    opacity: 0.3;
}
div.menu {
    border: 7px solid rgb(6, 48, 4, 0.8);
    border-radius: 5px;
    width: 350px;
    margin: 0 auto;
    background-color: #e9edc9;
}
div.menu:hover {
    background-color: #ffffff30;
    box-shadow: 0 0 15px #000000;
}