body {
    background-color: #f1faee; 
    color:#1d3557; 
    font-family: Arial;
    margin: 0px; 
}
header {
    background-color: #457b9d;
    color:  #f1faee;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    top: 0;
    right: 0;
    left: 0;
}

main {
    font-size: 24px;
    padding: 20px;
    margin: 10px 20px 45px;
}

footer {
    background-color:  #457b9d;
    color:  #f1faee;
    padding: 10px;
    text-align: center;
    /* width: 100%; */
    font-size: 24px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
a {
    color: #f1faee;
    padding: 6px;
    margin: 30px 0;
    text-decoration: none;
    transition: 0.5s;
    background-color: #e63946;
    border-radius: 10px;
}
li {
    padding: 6px;
    margin: 8px 0;
}
a:link {
    color: #f1faee;
    text-decoration: none;
}

a:visited {
    color: #f4a261;
    text-decoration: none;
    background-color: #e76f51;
}

a:hover {
    color: #c1121f;
    text-decoration: underline;
    background-color: #780000;
    box-shadow: 5px 5px 5px #023047;
}
a:active {
    opacity: 0.5;
}
div.menu {
    border: 7px solid #669bbc;
    border-radius: 5px;
    width: 30%;
    height: auto;
    margin: 0 auto;
    background-color: #a8dadc;
}
div.menu:hover {
    background-color: #81c3d7;
    border: 7px solid #3a7ca5;
    box-shadow: 0px 0px 5px 5px #16425b;
}